In [1]:
from experiment_utils import Dashboard

In [2]:
dashboard = Dashboard("../../.logs/")

In [3]:
dashboard.df()